<div style="background-image: url(assets/img/bg2.png); height: 100%; width: 100%; position: fixed;">
  <div class="navbar is-transparent" style="background-color: #1e1e1e00;">
    <div class="navbar-brand">
      <a class="navbar-item">
        <img src="assets/img/logo.png"/>
      </a>
    </div>
    <!-- Navebar End Elements -->
    <div class="navbar-end">
      <div class="navbar-item">
        <a class="menu">Games</a>
      </div>

      <div class="navbar-item">
        <a class="menu">Teams</a>
      </div>

      <div class="navbar-item">
        <a class="menu">Contact us</a>
      </div>
      

      <!-- ADD MORE END ELEMENTS HERE -->

      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-rounded is-primary is-fullwidth login-btn">Login</a>
        </div>
      </div>
    </div>
  </div>

<!-- BODY STARTS HERE-->

  <div>
    
  </div>
</div>



<!-- routes injected here -->
<router-outlet></router-outlet>

<!-- footer -->
<!-- <footer class="footer">
  <div class="container content has-test-centered">
    <p>Made with love by SherlockParadox <3</p>
  </div>
</footer> -->